@import "tailwindcss";

@theme {
  --color-toolbar-bg: #E2E8F0;
  --color-amber-400: #FFB900;
  --color-inactive-button: #314158;
  --color-umak-blue: #1D2981;
  --color-umak-red: #DF0020;
  --font-default-font: 'Roboto', sans-serif;
  --color-slate-900: #0F172B;
}